@import url(https://fonts.googleapis.com/css?family=Poppins);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body , .container , .content{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    height: 100vh;
    background-color: #4a98f7;
}
.container{
    width: 450px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    flex-direction: column;
}
.container h1{
    font-size: 40px;
    margin:30px 0;
}
.container .content{
    width: 100%;
    justify-content:space-between;
}
.container .disable{
    opacity: 0.5;
    pointer-events: none;
}
.content .controls{
    border: 1px solid #999;
    width: calc(100% / 2 - 5px);
    border-radius: 5px;
    padding:5px 10px;
}
.content .controls select{
    outline: 0;
    border: 0;
    width: 100%;
    font-size:16px;
    cursor: pointer;
    background: transparent;
}
.container button{
     width: 100%;
     outline:0;
     border: 0;
     background:#4a98f7;
     color: #fff;
     padding: 15px 0;
     margin-top:20px;
     border-radius: 5px;
     font-size: 20px;
     cursor: pointer;
    }